.background{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding: 200px;
    background-position: center;
    text-align: center;
    font-size: 20px;
    background-size: cover;
}
.background-h{
    font-size: 80px;
    
}
.background-p{
    font-size: 40px;
    
}
.button-primary{
    color:white;
    background-color:#FF5959 ;
    padding:15px;
    gap:15px;
    font-size: 20px;
    width: 200px;
}
.heading{
    text-align: center;
    padding:20px;
    font-size:25px;       
}
.header{
    color: #707070;  
}
.taka{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    color: #707070;
    width:50%;
    margin: 0 auto;
  
}
.boder{
    color: #FF5959; 
    border: 2px solid #FF5959;
    padding: 43px 23px 44px;
           
}
.font{
    padding: 15px ;
    margin:0 50%;
    font-size: 15px; 
    width: 130px;
    background-color: #FF5959;
    color: white;
}
.middle{
    font-size: 25px;
    text-align: center;
}
.middle-p{
font-size: 25px;
color:  #707070;
padding: 10px;
}
/*plans Css*/
.plans{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    background-color: aliceblue;
    padding:30px;
    margin: 20px;
}
/*description css*/
.descrpiton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-2{
    text-align: center;
    padding: ; 
}
.icons-bottom{
    display: flex;
}
.Contribute{
    font-size: 45px;
    margin: 1.5% 20%;      
}
.Contribute-p{
   font-size: 20px;
   color:#707070;
   margin:.5% 20% ;    
}
.button-3{
  margin:1.5% 22%;
  padding: 15px;
  width: 150px;
  background-color:#FF5959;
  color: white;
}
.updates{
    text-align: center;
    font-size: 20px;
}
.last{
    font-size: 45px;
}
.last-p{
    font-size:25px;
    color: #707070;
    ;
}
.form{
    background-color:#FFF4D6;
    width: 800px;
    margin: 0 auto;
    padding: 100px;

}
.form button{
    background: #FF5959;
    padding: 10px;
    color:#fff;
    
    
}
.image{
    font-size: 20px;
    padding:150px;
}
.survive{
    font-size: 45px;
}
.survive-p{
    font-size:20px ;
    color:#707070 ;   
}
.button-4{
    padding: 15px;
  width: 150px;
  background-color:#FF5959;
  color: white;
}
.footer{
    font-family:Lobster; 
    font-style:15px ;    
    text-align: center; 
    color:  #FF5959;
    ;  
}
.foot{
    background-color:#0B0D17; 
    padding: 30px;
}
.footer-p{
    text-align: center;
    font-size: 10px;
    color: #D9DBE1;
}





    

  
